#right{
    float: right;
    margin-right: 3%;
}

#left{
    float: left;
    margin-left: 3%;
}

body{
    height: 100%;
}

header{
    height: 50px;
    margin-bottom: 20px;
}

.link{
    text-align: center;
    width: 150px;
}

.link:hover{
    text-decoration: underline;
    cursor:pointer;
}

.thumbnail{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: inline-block;
}

.thumbnail:hover{
    outline: solid 1px lightslategrey;
}

img{
    width: 80%;
    margin: 3px 10% 0 10%;
}
p{
    width: 100%;
    color: #555;
    text-align: center;
}
.centered{
    text-align: center;
}

.row{
    height: 175px;
}
