

#right{
    float: right;
    margin-right: 3%;
}

#left{
    float: left;
    margin-left: 3%;
}

body{
    height: 100%;
}

header{
    height: 50px;
    margin-bottom: 20px;
}
input, label{
    float:left;
}
pre{
    display: block;
}

label{
    margin-right:30px;
}
input{
    margin-right:50px;
}